body {
  color: #666;
  -webkit-text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
iframe {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: Tahoma, Arial, Roboto, ”Droid Sans”, ”Helvetica Neue”, ”Droid Sans Fallback”, ”Heiti SC”, sans-self;
  font-size: 62.5%;
  line-height: 1.5;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
}

html,
body {
  width: 100%;
}
.fl{
float: left;
}
.fr{
float: right;
}
.clear{
clear: both;
}